@{
    ViewBag.Title = "Home Page";
}

<div id="themeSlider" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#themeSlider" data-slide-to="0" class="active"></li>
        <li data-target="#themeSlider" data-slide-to="1"></li>
        <li data-target="#themeSlider" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
        <div class="item active">
            <div class="imgOverlay"></div>
            <img style="height:370px;width:100%" src="../images/girls.jpg" >
            <div class="carousel-caption">
                
             
            </div>
        </div>
        <div class="item">
            <div class="imgOverlay"></div>
            <img style="height:370px;width:100%" src="../images/shopping3.jpg" >
            <div class="carousel-caption">
                
                
            </div>
        </div>
        <div class="item">
            <div class="imgOverlay"></div>
            <img style="height:370px;width:100%" src="../images/shopping1.jpg">
            <div class="carousel-caption">
                
            
            </div>
        </div>
    </div>

    <a class="left carousel-control" href="#themeSlider" data-slide="prev">
        <span class="fa fa-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#themeSlider" data-slide="next">
        <span class="fa fa-chevron-right"></span>
    </a>

</div>
